[submodule "ideal"]
	path = ideal
	url = https://github.com/Mohammad-Ayman/ideal.git
[submodule "hotelsPro--server"]
	path = hotelsPro--server
	url = https://github.com/Mohammad-Ayman/hotelsPro--server.git
